a.active {
    background: #5F6972 !important;
    color: #fff;
    cursor: default;
}

.side-nav-item:not(.active) .nav-active-icon,
.side-nav-item.active .nav-icon:not(.nav-active-icon) {
    display: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Karla', sans-serif;
    user-select: none;
}

.dropdown .btn {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none !important;
    color: #5F6972;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: #5F6972;
}

h4 {
    font-size: 16px;
    color: #5F6972;  
    margin: 0;
    margin-right: 10px;
}

h5 {
    font-size: 13px;  
    line-height: normal;
}

.p-2 {
    padding: 25px;
}

.flex-center-between {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

* {
    color: #5F6972;
}

.progress.progress-color-06CF96 .progress-bar {
    background-color: #06CF96 !important;
}

.progress.progress-color-C2D360 .progress-bar {
    background-color: #C2D360 !important;
}
.progress,
.progress .progress-bar {
    height: 7px !important;
}


.custom-switch {
    padding-left: 52px;
}

.custom-switch .custom-control-label::before {
    left: -52px;
    width: 40px;
    pointer-events: all;
    border-radius: 9px;
    height: 18px;
    background-color: #C4C4C4;
    border-color: #C4C4C4;
}

.custom-switch .custom-control-label::after {
    top: calc(.25rem + 2px);
    left: -50px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(22px);
}

.custom-control.custom-switch .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border-color: #c4c4c4 !important;
}

.custom-control.custom-switch .custom-control-input:active~.custom-control-label::before {
    background-color: #fff !important;
}

.custom-control.custom-switch .custom-control-input:checked~.custom-control-label::before {
    border-color: #00AE8B !important;
    background-color: #00AE8B !important;
}

.custom-control.custom-switch input,
.custom-control.custom-switch label {
    cursor: pointer;
    line-height: 26px;
    font-size: 10px;
    color: #5F6972;
}

.dtCell.dt-link {
    color: #2178C9;
    text-decoration: underline;
    cursor: pointer;
}

.dtCell.dt-link:hover {
    background-color: #fff;
}

.dtCell.dt-dot
{
    position: relative;
    padding-left: 30px;
}
.dtCell.dt-dot:before 
{
    display: block;
    content: " ";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translate(-15px, -60%);
    border-radius: 50%;
}
/* Intervention colors */
.dtCell.dt-lvl2-dot:before {
    background-color: #EF476A;
}
.dtCell.dt-lvl3-dot:before {
    background-color: #932688;
}
.dtCell.dt-lvl1-dot:before {
    background-color: #FF8624;
}
/* Devices colors */
.dtCell.dt-active-dot:before {
    background-color: #00ae8b;
}
.dtCell.dt-delivered-dot:before {
    background-color: #ff8625;
}
.dtCell.dt-shipped-dot:before {
    background-color: #edcd68;
}
.dtCell.dt-disconnected-dot:before {
    background-color: #ef476a;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-12-1 2:8:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    12% {
        opacity: 0.8;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    24% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    36% {
        opacity: 0.8;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    12% {
        opacity: 0.8;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    24% {
        opacity: 0.5;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    36% {
        opacity: 0.8;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
  }
  
  .scale-up-center {
	-webkit-animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}


/*

===================================

*/



@-webkit-keyframes scale-out-ver-top {
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 0;
      height: 0;
      padding: 0;
    }   
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
      height: auto;
    }
  }
  @keyframes scale-out-ver-top {
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 0;
      height: 0;
      padding: 0;
    }
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
      height: auto;
    }
  }

  .scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-out-ver-top 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  






/* ----------------------------------------------
 * Generated by Animista on 2020-12-1 8:25:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
        height: auto;
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
        height: auto;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
        height: auto;
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
        height: auto;
      opacity: 1;
    }
  }

  .scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  



.peers-dots {
    padding-left: 50%;
}

.peers-dots > *:first-child {
    margin-left: -75%;
}

.program-legend {
    min-height: 15px;
}

.css-tlfecz-indicatorContainer {
    cursor: pointer !important;
}

.remove_filter:after {
    display: block;
    position: absolute;
    content: "✕";
    right: 10px;
    top: 1px;
    opacity: 0.6;
}

.line-chart-container {
    min-height: 60px;
    position: relative;
}

.padded40 {
    padding: 40px;
}

.noDataHint {
    text-align: center;
    color: #9FA5AA;
    font-size: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.line-chart-container .noDataHint {
    top: 0;
    transform: none;
} 

.noDataHint div {
    font-size: 12px;
    color: #b4b8bb;
}

.line-chart-container .noDataHint {
    padding: 20px 0 30px;
}

.pull-r {
    float: right;
} 

.col-gr {
    color: #71777C;
}

.totalsChart.readyToShow {
    opacity: 0.95;
    transform: scale(1);
}

.app-container {
    transition: padding-left 0.6s ease;
}


.sidebar-nav-wrapper {
    transition: width 0.6s ease;
}

.sidebar-collapsed .app-container {
    padding-left: 70px;
}
.sidebar-collapsed .collapseBtn i svg {
    transform: rotate(270deg);
    transition: transform 600ms ease;
}
.sidebar-collapsed .sidebar-nav-wrapper {
    width: 70px;
    left: -2px;
}
.sidebar-collapsed .nav-link {
    padding-left: 24px;
}
.sidebar-nav-wrapper * {
    white-space: nowrap;
    transition: color 400ms ease;
}
.sidebar-collapsed .sidebar-nav-wrapper * {
    color: transparent;
    transition: color 300ms ease;
}
.sidebar-collapsed .logo-container {
    margin-right: 0;
    width: 33px;
}

@media screen and (max-width: 1190px) {
    .phoneType {
        display: none !important;
    }
}

.mainChartLegendItem:hover .pointDot {
    border: 1px solid #5F6972 !important;
    transform: scale(1.2) !important;
}
.mainChartLegendItem:hover *
{
    color: #333;
}

.vert-center {
    margin-top: 8px;
}

.table-loader {
    margin-top: 0;
    top: 185px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-80 {
    margin-top: 80px;
}